@{
    int next = ViewBag.page + 1;
    int previous = ViewBag.page - 1;
}
@using GreenBay.Models.DTOs
@model IEnumerable<ItemInfoDto>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show All Items</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }

        .circular_image {
            float: left;
            height: 100px;
            border: 5px;
            overflow: hidden;
            border-radius: 50%;
            width: 100px;
            border: solid blue;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        .inline {
            display: inline-block;
            width: auto;
            list-style: outside none none;
        }
    </style>
</head>
<body>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <a class="tit" href="/info">User Info</a>
    <a class="tit" href="/money">Manage Money</a>
    <a class="tit" href="/users">Users List</a>
    <a class="tit" href="/bid">Bid</a>
    <a class="tit" href=" /">Info</a>

    <h3>List of all products, here you can see them, @ViewBag.name. You have @ViewBag.money Dollars.</h3>
    <form class="inline" method="post" action="/set_page">
        <input type="number" name="page" id="page" value="@previous" min="1" hidden />
        <input type="text" name="redirectTo" value="ListAllItems" hidden />
        <input type="submit" value="Prev Page" />
    </form>
    <form class="inline" method="post" action="/set_page">
        <input type="number" name="page" id="page" value="@next" min="1" hidden />
        <input type="text" name="redirectTo" value="ListAllItems" hidden />
        <input type="submit" value="Next Page" />
    </form>
    <form class="inline" method="get" action="/all">
        <label for="search">Search Bar</label>
        <input type="text" name="search" id="search" required />
        <input type="submit" value="Search" />
    </form>
    <form class="inline" method="post" action="/set_page">
        <label for="page">Page</label>
        <input type="number" name="page" id="page" value="@ViewBag.page" min="1" style="width: 4em" required />
        <input type="text" name="redirectTo" value="ListAllItems" hidden/>
        <input type="submit" value="Set" />
    </form>
    <form class="inline" method="post" action="/set_item_count">
        <label for="itemCount">Count</label>
        <input type="number" name="itemCount" id="itemCount" value="@ViewBag.itemCount" min="1" style="width: 4em" required />
        <input type="text" name="redirectTo" value="ListAllItems" hidden />
        <input type="submit" value="Set" />
    </form>
    <form class="inline" method="post" action="/sort_by">
        <input type="text" name="redirectTo" value="ListAllItems" hidden />
        <label for="sortBy">Sort From</label>
        <select id="sortBy" name="sortBy" required>
            @if (ViewBag.sortBy == "latest")
            {
                <option value="latest" selected>Latest</option>
            }
            else
            {
                <option value="latest">Latest</option>
            }
            @if (ViewBag.sortBy == "oldest")
            {
                 <option value="oldest" selected>Oldest</option>
            }
            else
            {
                <option value="oldest">Oldest</option>
            }
            @if (ViewBag.sortBy == "cheapest")
            {
                <option value="cheapest" selected>Cheapest</option>
            }
            else
            {
                <option value="cheapest">Cheapest</option>
            }
            @if (ViewBag.sortBy == "expensive")
            {
                <option value="expensive" selected>Expensive</option>
            }
            else
            {
                <option value="expensive">Expensive</option>
            }
        </select>
        <input type="submit" value="Set" />
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>CreatedAt</th>
            <th>Price</th>
            <th>Image</th>
            <th>SellingBy</th>
            <th>HighestBid</th>
            <th>HighestBidBy</th>
            <th>BoughtBy</th>
        </tr>
        @foreach (ItemInfoDto item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedAt</td>
                <td>@item.Price</td>
                <td><img class="circular_image" src="@item.ImageUrl"></td>
                <td>@item.SellingBy</td>
                <td>@item.HighestBid</td>
                <td>@item.HighestBidBy</td>
                <td>@item.BoughtBy</td>
            </tr>
        }
    </table>
</body>
</html>